.page-content {
    padding: 10px;
}

.mdl-card {
    width: 100%;
}

.center {
    text-align: center;
}

footer.mdl-mini-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mdl-layout__drawer .mdl-layout-title {
    font-size: medium;
}

#login-form {
    padding-top: 50px;
}

#login-form button {
    width: 140px;
    margin-top: 20px;    
}

#panic-form {
    padding-top: 100px;
}

#panic-form .mdl-button--fab {
    height: 144px;
    width: 144px;
}

#panic-form .mdl-button--colored {
    background: rgb(244, 67, 54);
}

#about img {
    height: 200px;
    padding-bottom: 20px;
}

#guide ul {
    padding-left: 5px;
}

#guide p, #guide li {
    text-align: justify;
}

#guide img {
    padding-top: 10px;
    padding-bottom: 10px;
}

#guide .caption {
    font-style: italic;
    text-align: center;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#alert-view label {
    font-weight: bold;
    color: rgb(40, 40, 40);
}

#alert-view .form-control {
    padding: 5px;
}
